.notification {
    transition: opacity 0.3s ease-in-out;
}

.notification.show {
    opacity: 1;
}

.notification.hide {
    opacity: 0;
}

#snippetContainer {
    position: relative;
}

#copySnippet {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

#snippet {
    padding-top: 2rem;
}

.theme-toggle-icon {
    transition: transform 0.3s ease-in-out;
}

.theme-toggle-icon.rotate {
    transform: rotate(180deg);
}